#a{
    margin: 1em;
  }
#b{
    margin: 1em;
  }
  #c{
    margin: 1em;
  }
  #d{
    margin: 1em;
  }
  #e{
    margin: 1em;
  }
  #f{
    margin: 1em;
  }
  #g{
    margin: 1em;
  }
  #h{
    margin: 1em;
  }
  #i{
    margin: 1em;
  }
  #j{
    margin: 1em;
  }
  
  
  