

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex justify-content-center align-items-center header-transparent">
        <div class="testimonial-item" style="margin-right: 25%;">   <img src="assets/images/photo1back.jpg"  style="width:150px;height:70px;" class="testimonial-img" alt=""></div>
        <nav id="navbar" class="navbar">
          <ul>
            <div class="testimonial-item">   <img src="assets/img/home-icon (4).png" class="testimonial-img" alt=""></div>
         
            <li><a class="nav-link scrollto active" href="#hero">Accueil</a></li>
            <li><a class="nav-link scrollto" href="#about">A propos</a></li>
            <li><a class="nav-link scrollto " href="#contact">Contact</a></li>
            <li><a class="nav-link scrollto" routerLink="/login">Login</a></li>
            <li><a class="nav-link scrollto" routerLink="/signup">S'inscrire</a></li>
            <!-- <a href="http://localhost:8081/Elearning/activecompte/{username}">a</a> -->
      
           
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    
      </header>
      
    
      <!-- ======= Hero Section ======= -->
      <section id="hero">
        <div class="hero-container">
          <h1>se former autrement</h1>
          <h2>www.education.tn</h2>
          <a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
        </div>
      </section><!-- End Hero -->
    
      <main id="main">
    
        <!-- ======= About Me Section ======= -->
        <section id="about" class="about">
          <div class="container">
    
            <div class="section-title">
              <span>A propos</span>
              <h2>A propos</h2>
            </div>
            <div class="row">
              <div class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
              <div class="col-lg-8 d-flex flex-column align-items-stretch">
                <div class="content ps-lg-4 d-flex flex-column justify-content-center">
                  <div class="row">
                   <strong> <p class="espaceentre">Historique</p></strong> 
                      <p class="espaceentre">
                        Geo-Tracking est une entreprise basée à Tunis depuis 2011. Filiale du groupe Français ID-Tracking, la société s’est spécialisée dans le développement de nouvelles technologies au service de la géolocalisation de vos flottes.Geo-Tracking est fondée en vue d’offrir au plus grand nombre d’entreprises un système de suivi de flotte performant.
    
                        Geo-Tracking se force de proposer les solutions de géolocalisation les plus compétitives et les plus évolutives en vue de rencontrer tous les besoins professionnels des sociétés en Tunisie.
                        
                        Consciente des enjeux de cette cible, Geo-Tracking propose des services conformes aux standards internationaux.   
                      </p>
                    
                  </div>
                  <div class="row mt-n4">
                    
    
                    <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                        <strong></strong> <p id="Company">
                          Leader dans le domaine de la géolocalisation par GPS/GPRS, notre société s’engage à vous livrer des solutions clé en main à forte valeur ajoutée.
    
                          En effet, les outils de gestion de flotte de véhicules destinés aux entreprises sont utiles à plusieurs titres. D’abord, ces solutions permettent une meilleure maîtrise financière.
                          
                          A travers un ensemble de fonctions évolutives, les outils de géolocalisationpermettent aux entreprises de réduire considérablement les coûts et de mieux rentabiliser leurs investissements. De plus, les solutions de tracking gps améliorent la sécurité des activités du parc de véhicules et ceci à moindre coût !</p>
                      </div>
                    </div>
    
                    <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                        <strong>Atout
                          Une prestation personnalisée</strong> 
                          <p id="Company">Nos spécialistes s’engagent à prendre en main les enjeux stratégiques de votre entreprise, et ce sur l’ensemble de l’Afrique. En effet, Geo-Tracking dispose d’une équipe de jeunes talents spécialistes dans les technologies de la géolocalisation.</p>
                      </div>
                    </div>
                  </div>
                </div><!-- End .content-->
    
              </div>
            </div>
    
          </div>
        </section><!-- End About Me Section -->
    
        
    
        <!-- ======= Contact Me Section ======= -->
        <section id="contact" class="contact">
          <div class="container">
    
            <div class="section-title">
              <span>Nous contacter</span>
              <h2>Nous contacter</h2>
            </div>
    
            <div class="row">
              <div class="col-lg-6">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="text" name="name" class="form-control" id="name" placeholder="Votre nom" required />
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                      <input type="email" class="form-control" name="email" id="email" placeholder=" Email"  />
                    </div>
                  </div>
                  <div class="form-group mt-3">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujet"  required />
                  </div>
                  <div class="form-group mt-3">
                    <textarea class="form-control" name="message" rows="6" placeholder="Message" required  ></textarea>
                  </div>
                  <div class="my-3">
                    
                    <div class="loading">Loading</div>
                    <div class="error-message"></div> 
                    <div class="sent-message">Votre message a été envoyé. Merci!</div>
                  </div>
                  <div class="text-center"><button   type="submit">Envoyer le message</button></div>
                </form>
                <div class="social-links">
                  <a href="https://twitter.com/CCK_MESRS" class="twitter"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/CCK.MESRS" class="facebook"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/tunisian_aircraft_engineer/" class="instagram"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/mohamed-sadok-boulahia-44a84422/" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
    
              <div class="col-lg-6">
                <div style='display:flex'>
                <div >   <img src="assets/img/customerpic.jpg"  alt="customerpic">
                   <p>Customers Relations<br>
                    (+216) 70 241 900<br>
                    E-mail: info@cck.rnu.tn</p></div>
                <p>&nbsp;&nbsp;&nbsp;</p>
                
              </div>
                <div class="row">
                  <div style="width: 35%;">
                    <div class="info-box mt-4">
                      <i class="bx bx-envelope"></i>
                      <h3>Email</h3>
                      <p>info@cck.rnu.tn</p>
                    </div>
                  </div>
                  <div style="width: 30%;">
                    <div class="info-box mt-4">
                      <i class="bx bx-phone-call"></i>
                      <h3>Phone</h3>
                      <p>(+216) 70 241 900</p>
                    </div>
                  </div>
                  <div style="width: 30%;">
                    <div class="info-box mt-4">
                      <i class="bx bx-world"></i>
                      <h3>Fax</h3>
                      <p>(+216) 70 241 900</p>
                    </div>
                  </div>
                </div>
    
              </div>
    
              
    
            </div>
    
          </div>
        </section><!-- End Contact Me Section -->
    
      </main><!-- End #main -->
    
      <!-- ======= Footer ======= -->
      <footer id="footer">
        <div class="container">
          <h3>se former autrement</h3>
          <p>FYC</p>
          <div class="social-links">
            <a href="https://twitter.com/CCK_MESRS" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/CCK.MESRS/" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/company/72087734/admin/" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </footer><!-- End Footer -->
    
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i class="bi bi-arrow-up-short"></i></a>
    
      <!-- Vendor JS Files -->